/*body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
  }
  
  ol, ul {
    padding-left: 30px;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
  }
  
  .square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
  }
  
  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .game {
    display: flex;
    flex-direction: row;
  }
  
  .game-info {
    margin-left: 20px;
  }*/

 /*
:root {
  --font-color: #2d3436;
  --body-bg-color: #f7f1e3;
  --container-bg-color: #55efc4;
  --todo-bg-color: #00b894;
  --done-bg-color: #2ed573;
  --svg-normal-color: #2d3436;
  --svg-hover-color: #0984e3;
  --svg-complete-color: #0984e3;
  --svg-remove-color: #d63031;
  --svg-remove-hover-color: #ff4757;
}

* {
  font-family: 'Josefin Sans', sans-serif;
  padding: 0;
  margin: 0;
  color: var(--font-color);
}
body {
  background-color: var(--body-bg-color);
  display: flex;
  justify-content: center;
}
#container {
  background-color: var(--container-bg-color);
  padding: 2%;
  min-height: 30vh;
  min-width: 30vw;
  width: auto;
  height: auto;
  margin-top: 10vh;
  border-radius: 5%;
}


h2 {
  margin-bottom: 40px;
  margin-top: 40px;
  display: inline-block;
}

h2::after {
  content: '';
  border-bottom: 5px solid black;
  display: block;
  width: auto;
}

header {
  display: flex;
  justify-content: space-between;
}

header input {
  min-height: 40px;
  width: 100%;
  border: none;
  padding-left: 5%;
  background-color: var(--body-bg-color);
}
header button {
  min-width: 40px;
  background: none;
  border: none;
  font-size: 2rem;
}

li {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: var(--todo-bg-color);
  padding: 2%;
  box-sizing: border-box;
  border-radius: 10px;
  margin-bottom: 20px;
}
li .buttons {
  min-width: 100px;
  margin-left: auto;
  display: inline;
}
li .buttons button {
  background: none;
  min-width: 40px;
  border: none;
  font-size: 2rem;
}

.completed li {
  background-color: var(--done-bg-color);
}
.completed .complete svg path {
  fill: var(--svg-complete-color);
}

svg {
  max-width: 25px;
}

svg path {
  fill: var(--svg-normal-color);
}

button:hover svg path {
  fill: var(--svg-hover-color);
}

.remove svg path {
  fill: var(--svg-remove-color);
}

.remove:hover svg path {
  fill: var(--svg-remove-hover-color);

  font-family: 'Common Pixel', sans-serif;
}*/

:root {
  --font-color: #2d3436;
  --body-bg-color: #f7f1e3;
  --container-bg-color: #55efc4;
  --todo-bg-color: #00b894;
  --done-bg-color: #2ed573;
  --svg-normal-color: #2d3436;
  --svg-hover-color: #0984e3;
  --svg-complete-color: #0984e3;
  --svg-remove-color: #d63031;
  --svg-remove-hover-color: #ff4757;
}

*{
  
  margin: auto;  
  padding: 10px;
  text-align: center;
}



#lists{
  text-align: center;
  background-color: pink;
  
  font-family: 'VT323';
                                                
}

#add{
  font-family: 'VT323';
}



.app {
  text-align: center;
}



.app-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .app-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.app-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes app-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}